<% provide(:title, t('signin')) %>
<h1><%= yield :title %></h1>

<%= simple_form_for(:session, url: sessions_path, html: {  class: 'form-horizontal' }  ) do |f| %>

<%= f.input :email, label: t('simple_form.labels.signin.email') %>

<%= f.input :password, label: t('simple_form.labels.signin.password') %>
<%= f.button :submit, t('simple_form.labels.signin.submit'), class: "btn btn-default btn-primary" %>
<% end %>

<p><%= t('simple_form.labels.signin.not_have_account') %> <%= link_to t('simple_form.labels.signin.ads'), signup_path %></p>
