<!DOCTYPE html>
<html>
  <head>
    <title> <%= t :company %> <%= yield(:title) %></title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>

    <!-- Bootstrap core CSS -->
    <!--%= stylesheet_link_tag "bootstrap", "justified-nav", media: "all",
        "data-turbolinks-track" => true %-->
    <nav>
      <div class="navbar navbar-inverse hidden-phone">
        <div class="navbar-inner">
          <div class="container">
            <ul class="nav f-9">
              <li><a href="/"><i class="icon-home icon-white"> </i></a></li>
              <li><a href="#">登录</a></li>
              <li><a href="/signup" class="torange">注册</a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>

  </head>
  <body>
    <div class="container">
      <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "alert alert-#{key}") %>
      <% end %>
      <%= yield %>

      <!-- Site footer -->
      <div class="footer">
        <p>&copy; 青阳科技 2014</p>
      </div>

    </div> <!-- /container -->
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
